(edif RingOscillator
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 2 28 12 53 45)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "F-2012.03M-SP1 , mapper mapact, Build 729R"))
     )
   )
  (library IGLOO_V2
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property scaling_factors (string "IO_CELL_SCALING"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell NAND2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property scaling_factors (string "IO_CELL_SCALING"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1E1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
           (port E (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell AO14 (cellType GENERIC)
      (property dont_touch (string "true"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B + A & !C + B & !C + !A & !B & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell clkCouter (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port RESET_c (direction INPUT))
           (port AO14_15_Y (direction INPUT))
           (port CLK_OUT_c (direction OUTPUT))
         )
         (contents
          (instance U_AND3_0_1_2 (viewRef prim (cellRef AND3 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1E1C0_NU_3 (viewRef prim (cellRef DFN1E1C0 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance INV_2 (viewRef prim (cellRef INV (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance INV_1 (viewRef prim (cellRef INV (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C0_NU_0 (viewRef prim (cellRef DFN1C0 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C0_NU_2 (viewRef prim (cellRef DFN1C0 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance XOR2_0 (viewRef prim (cellRef XOR2 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance INV_0 (viewRef prim (cellRef INV (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1E1C0_NU_1 (viewRef prim (cellRef DFN1E1C0 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AND2_0 (viewRef prim (cellRef AND2 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef IGLOO_V2)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef IGLOO_V2)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef IGLOO_V2)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef IGLOO_V2)))          )
          (net NU_0_1_2 (joined
           (portRef Y (instanceRef U_AND3_0_1_2))
           (portRef E (instanceRef DFN1E1C0_NU_3))
          ))
          (net (rename DFN1C0_NUZ0Z_0 "DFN1C0_NU_0") (joined
           (portRef Q (instanceRef DFN1C0_NU_0))
           (portRef A (instanceRef AND2_0))
           (portRef E (instanceRef DFN1E1C0_NU_1))
           (portRef A (instanceRef INV_1))
           (portRef A (instanceRef U_AND3_0_1_2))
          ))
          (net (rename DFN1E1C0_NUZ0Z_1 "DFN1E1C0_NU_1") (joined
           (portRef Q (instanceRef DFN1E1C0_NU_1))
           (portRef B (instanceRef AND2_0))
           (portRef A (instanceRef INV_2))
           (portRef B (instanceRef U_AND3_0_1_2))
          ))
          (net (rename DFN1C0_NUZ0Z_2 "DFN1C0_NU_2") (joined
           (portRef Q (instanceRef DFN1C0_NU_2))
           (portRef A (instanceRef XOR2_0))
           (portRef C (instanceRef U_AND3_0_1_2))
          ))
          (net INV_0_Y (joined
           (portRef Y (instanceRef INV_0))
           (portRef D (instanceRef DFN1E1C0_NU_3))
          ))
          (net INV_2_Y (joined
           (portRef Y (instanceRef INV_2))
           (portRef D (instanceRef DFN1E1C0_NU_1))
          ))
          (net INV_1_Y (joined
           (portRef Y (instanceRef INV_1))
           (portRef D (instanceRef DFN1C0_NU_0))
          ))
          (net AO14_15_Y (joined
           (portRef AO14_15_Y)
           (portRef CLK (instanceRef DFN1E1C0_NU_1))
           (portRef CLK (instanceRef DFN1C0_NU_2))
           (portRef CLK (instanceRef DFN1C0_NU_0))
           (portRef CLK (instanceRef DFN1E1C0_NU_3))
          ))
          (net RESET_c (joined
           (portRef RESET_c)
           (portRef CLR (instanceRef DFN1E1C0_NU_1))
           (portRef CLR (instanceRef DFN1C0_NU_2))
           (portRef CLR (instanceRef DFN1C0_NU_0))
           (portRef CLR (instanceRef DFN1E1C0_NU_3))
          ))
          (net XOR2_0_Y (joined
           (portRef Y (instanceRef XOR2_0))
           (portRef D (instanceRef DFN1C0_NU_2))
          ))
          (net AND2_0_Y (joined
           (portRef Y (instanceRef AND2_0))
           (portRef B (instanceRef XOR2_0))
          ))
          (net CLK_OUT_c (joined
           (portRef Q (instanceRef DFN1E1C0_NU_3))
           (portRef A (instanceRef INV_0))
           (portRef CLK_OUT_c)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
    (cell RingOscillator (cellType GENERIC)
       (view rtl (viewType NETLIST)
         (interface
           (port RESET (direction INPUT))
           (port CLK_OUT (direction OUTPUT))
         )
         (contents
          (instance CLK_OUT_pad (viewRef prim (cellRef OUTBUF (libraryRef IGLOO_V2)))
          )
          (instance RESET_pad (viewRef prim (cellRef INBUF (libraryRef IGLOO_V2)))
          )
          (instance NAND2_0 (viewRef prim (cellRef NAND2 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_23 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_22 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_21 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_20 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_19 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_18 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_17 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_16 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_15 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_14 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_13 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_12 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_11 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_10 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_9 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_8 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_7 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_6 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_5 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_4 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_3 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_2 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_1 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance AO14_0 (viewRef prim (cellRef AO14 (libraryRef IGLOO_V2)))
           (property is_instantiated (integer 1))
          )
          (instance clkCouter_0 (viewRef netlist (cellRef clkCouter))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef IGLOO_V2)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef IGLOO_V2)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef IGLOO_V2)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef IGLOO_V2)))          )
          (net AO14_8_Y (joined
           (portRef Y (instanceRef AO14_8))
           (portRef C (instanceRef AO14_20))
          ))
          (net AO14_22_Y (joined
           (portRef Y (instanceRef AO14_22))
           (portRef C (instanceRef AO14_9))
          ))
          (net AO14_9_Y (joined
           (portRef Y (instanceRef AO14_9))
           (portRef C (instanceRef AO14_10))
          ))
          (net AO14_10_Y (joined
           (portRef Y (instanceRef AO14_10))
           (portRef C (instanceRef AO14_11))
          ))
          (net AO14_11_Y (joined
           (portRef Y (instanceRef AO14_11))
           (portRef C (instanceRef AO14_23))
          ))
          (net AO14_12_Y (joined
           (portRef Y (instanceRef AO14_12))
           (portRef C (instanceRef AO14_13))
          ))
          (net AO14_13_Y (joined
           (portRef Y (instanceRef AO14_13))
           (portRef C (instanceRef AO14_16))
          ))
          (net AO14_23_Y (joined
           (portRef Y (instanceRef AO14_23))
           (portRef C (instanceRef AO14_14))
          ))
          (net AO14_14_Y (joined
           (portRef Y (instanceRef AO14_14))
           (portRef C (instanceRef AO14_15))
          ))
          (net AO14_15_Y (joined
           (portRef Y (instanceRef AO14_15))
           (portRef AO14_15_Y (instanceRef clkCouter_0))
           (portRef B (instanceRef NAND2_0))
          ))
          (net AO14_17_Y (joined
           (portRef Y (instanceRef AO14_17))
           (portRef C (instanceRef AO14_18))
          ))
          (net AO14_18_Y (joined
           (portRef Y (instanceRef AO14_18))
           (portRef C (instanceRef AO14_19))
          ))
          (net AO14_20_Y (joined
           (portRef Y (instanceRef AO14_20))
           (portRef C (instanceRef AO14_21))
          ))
          (net AO14_21_Y (joined
           (portRef Y (instanceRef AO14_21))
           (portRef C (instanceRef AO14_22))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef B (instanceRef AO14_0))
           (portRef A (instanceRef AO14_0))
           (portRef B (instanceRef AO14_1))
           (portRef A (instanceRef AO14_1))
           (portRef B (instanceRef AO14_2))
           (portRef A (instanceRef AO14_2))
           (portRef B (instanceRef AO14_3))
           (portRef A (instanceRef AO14_3))
           (portRef B (instanceRef AO14_4))
           (portRef A (instanceRef AO14_4))
           (portRef B (instanceRef AO14_5))
           (portRef A (instanceRef AO14_5))
           (portRef B (instanceRef AO14_6))
           (portRef A (instanceRef AO14_6))
           (portRef B (instanceRef AO14_7))
           (portRef A (instanceRef AO14_7))
           (portRef B (instanceRef AO14_8))
           (portRef A (instanceRef AO14_8))
           (portRef B (instanceRef AO14_9))
           (portRef A (instanceRef AO14_9))
           (portRef B (instanceRef AO14_10))
           (portRef A (instanceRef AO14_10))
           (portRef B (instanceRef AO14_11))
           (portRef A (instanceRef AO14_11))
           (portRef B (instanceRef AO14_12))
           (portRef A (instanceRef AO14_12))
           (portRef B (instanceRef AO14_13))
           (portRef A (instanceRef AO14_13))
           (portRef B (instanceRef AO14_14))
           (portRef A (instanceRef AO14_14))
           (portRef B (instanceRef AO14_15))
           (portRef A (instanceRef AO14_15))
           (portRef B (instanceRef AO14_16))
           (portRef A (instanceRef AO14_16))
           (portRef B (instanceRef AO14_17))
           (portRef A (instanceRef AO14_17))
           (portRef B (instanceRef AO14_18))
           (portRef A (instanceRef AO14_18))
           (portRef B (instanceRef AO14_19))
           (portRef A (instanceRef AO14_19))
           (portRef B (instanceRef AO14_20))
           (portRef A (instanceRef AO14_20))
           (portRef B (instanceRef AO14_21))
           (portRef A (instanceRef AO14_21))
           (portRef B (instanceRef AO14_22))
           (portRef A (instanceRef AO14_22))
           (portRef B (instanceRef AO14_23))
           (portRef A (instanceRef AO14_23))
          ))
          (net NAND2_0_Y (joined
           (portRef Y (instanceRef NAND2_0))
           (portRef C (instanceRef AO14_0))
          ))
          (net AO14_0_Y (joined
           (portRef Y (instanceRef AO14_0))
           (portRef C (instanceRef AO14_1))
          ))
          (net AO14_1_Y (joined
           (portRef Y (instanceRef AO14_1))
           (portRef C (instanceRef AO14_2))
          ))
          (net AO14_2_Y (joined
           (portRef Y (instanceRef AO14_2))
           (portRef C (instanceRef AO14_12))
          ))
          (net AO14_16_Y (joined
           (portRef Y (instanceRef AO14_16))
           (portRef C (instanceRef AO14_3))
          ))
          (net AO14_3_Y (joined
           (portRef Y (instanceRef AO14_3))
           (portRef C (instanceRef AO14_4))
          ))
          (net AO14_4_Y (joined
           (portRef Y (instanceRef AO14_4))
           (portRef C (instanceRef AO14_5))
          ))
          (net AO14_5_Y (joined
           (portRef Y (instanceRef AO14_5))
           (portRef C (instanceRef AO14_17))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net AO14_19_Y (joined
           (portRef Y (instanceRef AO14_19))
           (portRef C (instanceRef AO14_6))
          ))
          (net AO14_6_Y (joined
           (portRef Y (instanceRef AO14_6))
           (portRef C (instanceRef AO14_7))
          ))
          (net AO14_7_Y (joined
           (portRef Y (instanceRef AO14_7))
           (portRef C (instanceRef AO14_8))
          ))
          (net RESET_c (joined
           (portRef Y (instanceRef RESET_pad))
           (portRef RESET_c (instanceRef clkCouter_0))
           (portRef A (instanceRef NAND2_0))
          ))
          (net RESET (joined
           (portRef RESET)
           (portRef PAD (instanceRef RESET_pad))
          ))
          (net CLK_OUT_c (joined
           (portRef CLK_OUT_c (instanceRef clkCouter_0))
           (portRef D (instanceRef CLK_OUT_pad))
          ))
          (net CLK_OUT (joined
           (portRef PAD (instanceRef CLK_OUT_pad))
           (portRef CLK_OUT)
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design RingOscillator (cellRef RingOscillator (libraryRef work)))
)
